body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 80em;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#graphs {
  margin-top: 20px;
}

#map-and-graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: 0;
}

#map svg {
  border-radius: 8px;
  padding: 10px 5px;
  box-shadow: 0 4px 12px rgba(12, 12, 12, 0.5);
}

.reset-graph {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(12, 12, 12, 0.5);
  opacity: 0;
  border-radius: 12px;
  pointer-events: none;
  border: 1px solid black;
}

.tooltip-title {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2px;
}

.tooltip-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
}

.tooltip-table th {
  font-size: 13px;
  font-weight: 700;
  color: #444;
  border-bottom: 1px solid #eee;
}

.tooltip-table th,
.tooltip-table td {
  padding: 2px 5px;
}

.metric-row td:first-child {
  text-align: left;
  color: #777;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.metric-row td {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
