body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 80em;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map-and-graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  border-radius: 8px; /* Optional: rounded corners */
  margin: auto;
}

#bar-chart-container {
  display: flex;
  flex-direction: column;
}


.tooltip {
  position: absolute;
  padding: 8px 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  font-size: 14px;
}

.neighborhood-name {
  font-weight: bold;
  margin-bottom: 6px;
  text-align: center;
}

.pies {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.pie-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie {
  margin: 0.5rem;
}

.tooltip-legends {
  margin-top: 8px;
}

.tooltip-legends .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 6px;
}
