:root {
  --color-a: #ff9999;
  --color-b: #99ccff;
  --color-c: #a5d6a7;
  --color-d: #ffcc80;
  --color-equal: rgb(161, 214, 165);
  --color-less-than: rgba(70, 131, 180, 0.779);
  --color-greater-than: rgba(255, 140, 0, 0.774);
}


body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.legends {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25em; 
  font-size: 0.9em;
  margin-block: 1em;
}

.legends-label {
  font-weight: 600;
  margin-right: 0.5em;
}

.legends > div {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.legends > div::before {
  content: "";
  width: 1.1em;
  height: 1.1em;
  border-radius: 4px;
  background: var(--color);
  border: 1px solid #ccc;
  display: inline-block;
}

.legend {
  flex-wrap: wrap;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}


/* Layout */
#filters {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem 0;
}

.filter-title {
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 1px;
}

/* Toggle Switch */
.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  inset: 0;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.25s;
}

input:checked + .slider {
  background-color: #007aff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Segmented Control */
.segmented-control {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.segmented-control button {
  padding: 6px 12px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}

.segmented-control button.active {
  background: #007aff;
  color: white;
}
